Ticks Tracking/
SquareView/
Dual patterns/
MixedV/
Only UD patterns/
Only UD Ticks Tracking/
Only UD SquareView/
Groups Tracking/
Groups of Groups
one to one/
onlyMix/
Digit Bars/
eocharts/
oucharts
d3charts/